<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Hello</title>
</head>
<body>
<a>测试中</a>
<p>书名{{- .m1.Name -}}</p>
<p>性别{{ .u1.Gender }}</p>
<p>年龄{{ .m1.Age }}</p>
{{ $v1:=100 }}
<p>销量{{ .v1  }}</p>
</body>
</html>